body {
  padding-top: 65px;
}

.tab-content {
  padding: 20px;
}

.page-main-content {
  padding: 0px;
}

.primary-table thead th {
  background-color: #006DCC;
  color: white;
}

.control-label-left {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}

.create-button {
  margin-bottom: 20px;
}
